*{
  margin: 0;
  padding: 0;
}



header{
  background-color: #black;
  text-align: center;
}
h1{
  text-align: center;
  font-size: 14px;
  font-family: sans-serif;
  font-style: oblique;
}


style.tictac{
  margin: auto;
  width: 200px;
  position: relative;
  transform: translateX(200%);
  transform: translateZ(300%);

}

html, body{
  height: 100%;
  min-height: 100%
}
